<h3 id="y" class="text-center">{{venue.name|uppercase}}</h3>
<div class="container text-center mt-5">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
      </ul>          
                  
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  class="rounded img-fluid" [src]="venue.image1" alt="Los Angeles" width="600" height="500">
          <div class="carousel-caption">
            <h3>IMAGE - 1</h3>
          </div>   
      </div>
              
      <div class="carousel-item">
        <img class="rounded img-fluid" [src]="venue.image2" alt="Chicago" width="600" height="500">
        <div class="carousel-caption">
          <h3>IMAGE - 2</h3>
        </div>   
      </div>              
                
      <div class="carousel-item">
        <img class="rounded img-fluid" [src]="venue.image3" alt="New York" width="600" height="500">
        <div class="carousel-caption">
          <h3>IMAGE - 3</h3>
        </div>   
      </div>            
                
      <div class="carousel-item">
        <img class="rounded img-fluid" [src]="venue.image4" alt="New York" width="600" height="500">
        <div class="carousel-caption">
          <h3>IMAGE - 4</h3>
        </div>   
      </div>            
                
      <div class="carousel-item">
        <img class="rounded img-fluid" [src]="venue.image5" alt="New York" width="600" height="500">
        <div class="carousel-caption">
          <h3>IMAGE - 5</h3>
        </div>   
      </div>             
                
  </div>
  <a   class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>              

</div>

<mat-form-field class="example-full-width">
  <mat-label>Choose a date</mat-label>
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  [(ngModel)]="selectedDate" >
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button (click)="evaluate()">Click Me</button>

